# Web server and connectors
aiohttp==3.3.1

# Data serialization and validation
marshmallow==2.16.1
PyYAML==3.12
ujson==1.35

# Data storage
statsd-tags==3.2.1.post1
aioredis==1.2.0

# Other
python-dateutil==2.7.3
cachetools==3.0.0
click==6.7

# Testing and linting
pytest==4.0.1
pytest-aiohttp==0.2.0
asynctest==0.12.1
pytest-cov==2.5.1
flake8==3.6.0
flake8-commas==2.0.0
mypy==0.641

# Debugging
ipdb==0.11
ipython

# Alerting and monitoring
raven-aiohttp==0.7.0

safety